<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.springcloud.demo.provide.dao.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.springcloud.entitys.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="mobile" property="mobile" />
        <result column="user_occupation" property="userOccupation" />
        <result column="user_status" property="userStatus" />
        <result column="create_time" property="createTime" />
        <result column="create_device" property="createDevice" />
        <result column="user_type" property="userType" />
        <result column="open_id" property="openId" />
        <result column="sex" property="sex" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="province" property="province" />
        <result column="distance" property="distance" />
        <result column="unionid" property="unionid" />
        <result column="freeze_time" property="freezeTime" />
        <result column="fail_times" property="failTimes" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, nickname, mobile, user_occupation AS userOccupation, user_status AS userStatus, create_time AS createTime, create_device AS createDevice, user_type AS userType, open_id AS openId, sex, city, area, province, distance, unionid, freeze_time AS freezeTime, fail_times AS failTimes, version
    </sql>

</mapper>
